<tr>
  <td class="avatar-col">
    User.find(f.object.user_id).name
  </td>
  <td class="fullname-col">
    <%= f.select :user_id, @users.collect {|user| [user.fullname, user.id, data:{email: user.email, birthday: user.birthday, gender: user.gender, avatar: user.avatar} ]}, {}, {class: "form-control select-user"} %>
  </td>
  <td class="email-col"></td>
  <td class="gender-col"></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to fa_icon("trash", text: ""), nil, class: "remove_record remove-position" %>
  </td>
</tr>
