<% provide :title, t("page.subject_edit") %>

<div class="row">
  <h1 class="text-center"><%= t("page.subject_edit") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= render "subjects/form" %>
  </div>
</div>
