<% provide :title, t("page.course_create") %>
<%= stylesheet_link_tag "course" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "courses/form" %>
  </div>
</div>


<!--<div class="form-group">-->
<!--  <div class="col-md-4 col-md-offset-4">-->
<!--    <label for="">Task <span>1</span> :</label>-->
<!--  </div>-->
<!--  <div class="col-md-8 col-md-offset-1">-->
<%#= select_tag "Task", options_from_collection_for_select(@tasks, "id", "name"),multiple: true, class: "form-control" %>
<!--    <select id="multiple" multiple class="form-control" name="task1[]">-->
<!--      <option value="1">Alabama</option>-->
<!--      <option value="2">Amalapuram</option>-->
<!--      <option value="3">Anakapalli</option>-->
<!--      <option value="4">Akkayapalem</option>-->
<!--      <option value="5">Wyoming</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->
<%= javascript_include_tag "course" %>
