.subject{
  margin-bottom: 15px;
  display: flex;
}
.course-subjects{
  margin-top: 12px;
}

.btn-add-subject{
  color: #0f6910;
}

.error-tab{
  border: 1px solid #a94442;
  border-bottom: none;
}

//.course-subjects > ul > li > a{
//  background-color: #d8dede;
//}
//
//.course-subjects > ul > li.active > a{
//  background-color: #5cb85c;
//}
//.course-subjects > ul > li > a{
//  background-color: #4a984a;
//}
//

